pkgbase = animeshelf
	pkgdesc = Local-first anime ranking and tier-list management app.
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/mengdehong/AnimeShelf
	arch = x86_64
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = flutter
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	depends = gtk3
	options = !strip
	source = animeshelf::git+https://github.com/mengdehong/AnimeShelf.git#tag=v0.1.0
	source = animeshelf.desktop
	source = animeshelf.png
	sha256sums = SKIP
	sha256sums = 5340512162bb77e4fe7f953bad1f54f2865196d065904115ad7018da652781a7
	sha256sums = 9b6a6652e50d5593c51baa6266a6c896f3045a9885c9592a01bf49944efecb06

pkgname = animeshelf
